html {
    --text: #000000;
--background: #ffffff;
--primary: #000000;
--secondary: #686868;
--accent: #555555;
}

body {
    color: var(--primary);
    background: var(--background);
    
}

audio {
    padding: 4px;
    border: 4px red;
    border-radius: 30px;
    background: var(--secondary);
}

img {
    background:  var(--accent);
    margin: 5px
}
h1 {
    width: 500px;
    height: 50px;
    margin: 10px
}