html {
    --text: #000000;
--background: #ffffff;
--primary: #000000;
--secondary: #686868;
--accent: #555555;

.hover-zoom {
  transition: transform 0.3s ease;
}

.hover-zoom:hover {
  transform: scale(1.1);
}
body {
    color: var(--primary);
    background: var(--background);
    
}

audio {
    padding: 4px;
    border: 4px red;
    border-radius: 30px;
    background: var(--secondary);
}

img {
    background:  var(--accent);
    border-radius: 10px;
    margin: 5px;
}
h1 {
    width: 500px;
    height: 50px;
    margin: 10px
}
img.no-radius {
  border-radius: 0;
}
.fit-width {
  max-width: 100%;
  height: auto;
}
}