html {
    --text: #e6f6f3;
--background: #040b0a;
--primary: #a0ded6;
--secondary: #285172;
--accent: #587ac5;
}

body {
    color: var(--primary);
    background: var(--background);
}

audio {
    background: var(--secondary);
}

img {
    padding: 4px;
    border: 4px solid var(--accent);
    border-radius: 20px;
    background:  var(--primary);
    
}